@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E95A08;
    --dark-50: rgba(0, 0, 0, 0.5);
}

/* Shared style */
.btn{
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
}
.primary-color{
    color: #E95A08;
}
.display-flex{
    display: flex;
}
.grid{
    display: grid;
}
.bold{
    font-weight: bold;
}
.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
/* Header Section */
header{
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}

.nav-links{
    gap: 3rem;
    list-style-type: none;
}
.shop,.about{
    color: #8987A1;
}
/* Banner styles */
.banner{
    margin: 120px 10vw 0;
    gap: 3vw;
}
.banner-content{
    flex: 1;
    padding-top: 162px;
}
.banner-content h1{
    font-size: 4rem;
    white-space: pre-line;
}
.banner-content p{
    font-size: 1.2rem;
    white-space: pre-line;
    color: var(--dark-50);
}
.banner-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
}

/* Plants section style */
.plants-section{
    text-align: center;
    margin: 15vh 0 5vh;

}
.plants-section h3{
    font-size: 3.2rem;
}
.p-description{
    font-size: 1.2rem;
    color: var(--dark-50);
    white-space: pre-line;
    margin-bottom: 5vh;
}
.card-container{
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin: 0 10vw;
}
.card p{
    margin: 15px auto 0;
    font-size: 22px;
    font-weight: 500;
}
.card h6{
    margin: 0px auto 15px;
    font-size: 22px;
    font-weight: bold;
}
.card img{
    width: 100%;
}
.p-btn{
    width: 100%;
}

/* Flowers & plants lover section style */
.fp-section{
    margin: 25vh 10vw 5vh;
    gap: 30px;
}
.store-image{
    width: 100%;
    flex: 1;
}
.fp-content {
    flex: 1;
    margin: 10vh 0 0;
}
.fp-content ul{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
}
.fp-content li {
    padding-left: 1.2em;
    text-indent: -1.2em;
    font-size: 1.2rem;
    color: var(--dark-50);
    margin-bottom: 20px;
}
.fp-content h3{
    font-size: 3.2rem;
    font-weight: bold;
    white-space: pre-line;
    margin-bottom: 5vh;
}

/* Latest Deals styles */
.latest-deal{
    text-align: center;
    margin: 20vh 10vw 5vh;
}
.latest-deal h3{
    font-size: 3.2rem;
    font-weight: bold;
}
.latest-deal p{
    font-size: 1.2rem;
    color: var(--dark-50);
    white-space: pre-line;
    margin-bottom: 15vh;
}
.pic-container{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 210px 210px;
    gap: 30px;
    max-height: 450px;
    color: white;
}
.bloom-plants{
    background-image: linear-gradient(rgba(0, 0, 0, 0.443)), url("assets/deal-bloom.png");
    grid-column: span 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    border-radius: 15px;
}
.bloom-plants h6{
    font-size: 20px;
    font-weight: bold;
}
.bloom-plants a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.zabo-plants{
    grid-column: span 2;
    grid-row: span 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.434)), url("assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    border-radius: 15px;
}
.zabo-plants h6{
    font-size: 40px;
    font-weight: bold;
}
.zabo-plants a{
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
}
.ana-plants{
    grid-column: span 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.436)), url("assets/deal-ana.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    border-radius: 15px;
}
.ana-plants h6{
    font-size: 20px;
    font-weight: bold;
}
.ana-plants a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}


/* Email Subscription section style*/
.email-subscription{
    margin: 15vh 0 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.13)), url("assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: 533px;
}
.email-subscription h2{
    font-size: 3.3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.subscription-form {
  display: flex;
}

.form-input {
  flex: 1;
  padding: 10px;
  border-right: none;
  outline: none;
  background-color: white;
  width: 40vw;
}

.form-button {
  padding: 10px 20px;
  cursor: pointer;
  width: 10vw;
}

.form-button:hover {
  background-color: darkorange;
}
/* Responsive for mobile */
@media screen and (max-width: 576px) {
    header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.home,.shop,.about{
    display: none;
}
.nav-links{
    gap: 0;

}
.cart{
    font-size: 1.3rem;
}
.logo{
    width: 63px;
    height: 38px;
}
.banner{
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 15px;
}
.banner-content{
    flex: 1;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.banner-content h1{
    font-size: 2.5rem;
    white-space: pre-line;
}
.banner-content p{
    margin-top: 15px;
    font-size: 0.8rem;
    white-space: pre-line;
    color: var(--dark-50);
}
.banner-img {
    justify-content: none;
    width: 100%;
    padding-top: 90px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 0 20px;
}
.card p{
    margin: 15px auto 0;
    font-size: 22px;
    font-weight: 500;
}
.card h6{
    margin: 0px auto 15px;
    font-size: 22px;
    font-weight: bold;
}

.fp-section{
    margin: 25px 10px 5px;
    gap: 30px;
    flex-direction: column;
}
.fp-content {
    margin: 10px 0 0;
}
.fp-content li {
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.fp-content h3{
    font-size: 1.8rem;
    white-space: normal;
    margin-bottom: 15px;
}
.latest-deal{
    text-align: center;
    margin: 15vh 10px 5px;
}
.latest-deal h3{
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.latest-deal p{
    font-size: 1.2rem;
    color: var(--dark-50);
    white-space: pre-line;
    margin-bottom: 7vh;
}
.pic-container{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 210px 210px 210px;
    gap: 30px;
    max-height: auto;
    color: white;
    margin-bottom: 10vh;
}
.bloom-plants{
    grid-column: span 1;
    background-size: cover;
    width: 100%;
}
.zabo-plants{
    grid-column: span 1;
    grid-row: span 1;
}
.zabo-plants h6{
    font-size: 20px;
    font-weight: bold;
}
.zabo-plants a{
    font-size: 16px;
    font-weight: 600;
}
.ana-plants{
    grid-column: span 1;
    
}

.email-subscription {
    height: 276px;
    padding: 50px 20px 20px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 40vh;
  }

  .email-subscription h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .subscription-form {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .form-input {
    width: 70%;
    padding: 12px;
    font-size: 1rem;
  }

  .form-button {
    width: 30%;
    padding: 12px;
    font-size: 1rem;
  }

    
}